asgiref==3.12.1
django==6.1
-e file:///Users/mackbook/DjangoProject
et-xmlfile==2.0.0
numpy==2.5.2
openpyxl==3.1.5
pandas==3.0.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
six==1.17.0
sqlparse==0.6.0
